<div class="container">
  <h2 class="font-weight-bold bg-success text-white p-2 mt-4">新增餐廳</h2>
  <form action="/restaurants" method="POST" class="p-3 mb-3 border border-info">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">餐廳名稱</label>
        <input type="text" class="form-control" id="name" placeholder="名稱" name="name" required>
      </div>

      <div class="form-group col-md-6">
        <label for="name_en">餐廳英文名</label>
        <input type="text" class="form-control" id="name_en" placeholder="英文名 (optional)" name="name_en">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="category">餐廳類別</label>
        <select id="category" class="form-selection" name="category" required>
          <option selected>美式</option>
          <option>義式餐廳</option>
          <option>日式料理</option>
          <option>中東料理</option>
          <option>火鍋</option>
          <option>咖啡</option>
          <option>中式料理</option>
          <option>小吃</option>
          <option>其他</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="image">餐廳照片網址</label>
      <input type="text" class="form-control" id="image" placeholder="https://... (optional)" name="image">
    </div>
    <div class="form-group">
      <label for="location">餐廳地址</label>
      <input type="text" class="form-control" id="location" placeholder="地址" name="location" required>
    </div>
    <div class="form-group">
      <label for="phone">電話</label>
      <input type="text" class="form-control" id="phone" placeholder="電話" name="phone" required>
      <div class="invalid-feedback">
        請輸入餐廳電話
      </div>
    </div>

    <div class="form-group">
      <label for="google_map">餐廳 Google Map 網址</label>
      <input type="text" class="form-control" id="google_map" placeholder="https://... (optional)" name="google_map">
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="rating">評分</label>
        <input type="number" class="form-control" id="rating" placeholder="請輸入評分 0~5 (optional)" name="rating"
          step="0.1" min="0" max="5">
      </div>
    </div>

    <div class="form-group">
      <label for="description">餐廳敘述</label>
      <textarea class="form-control" id="description" placeholder="簡單敘述" name="description" row="3" required></textarea>
      <div class="invalid-feedback">
        請輸入餐廳簡述，推薦菜色等等
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>

  </form>
</div>